* {
    padding: 0;
    margin: 0;
    font-family: Arial, sans-serif;
}

#title-container {
    position: relative;
    bottom: 50px;
}

#title {
}

#game-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 700px;
}

#game-board {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 1px #c6c6c6;
    background-color: rgba(153,153,153,.2);
}

#game-board:hover {
    box-shadow: 0 2px 5px #757575;
}

#score {
    display: flex;
    justify-content: center;
    align-items: center;
    text-transform: uppercase;
    font-weight: bold;
}

#signs {
    display: flex;
    flex-wrap: nowrap;
}

#signs > img {
    margin: 10px;
    padding: 10px;
}

img {
    height: 200px;
    width: 200px;
}

img:hover {
    box-shadow: 0 2px 5px #757575;
}

#status-box {
    display: flex;
    justify-content: center;
    align-items: center;
}

#score-number {
    color: #757575;
}

#restart-button {
    background-color: rgb(72, 135, 233);
    color: white;
    height: 36px;
    margin: 20px;
    padding: 10px 40px;
    line-height: 1;
    text-transform: uppercase;
    font-weight: bold;
    white-space: nowrap;
}

#restart-button:hover {
    bacgkround-color: rgb(72, 100, 200);
}

.box {
    height: 100px;
}

.on-computer-hover {
    box-shadow: 0 2px 5px #757575;
    background-color: #f1c40f;
    border-radius: 2px;
}

.hide {
    display: none;
}